
<div class="container text-center bs-info">
  <div class="display-6">
    Pokedex
  </div>
  <div class="row m3">
    <div class="col">
      <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/1.png" width="200px" class="shadow rounded">
    </div>

    <div class="row m3">
        <div class="col">
          Bulbasauro
        </div>
    </div>

    <div class="row">
      <div class="col">

        <button type="button" class="btn btn-danger">👈🏻 Anterior</button>
        <button type="button" class="btn btn-success">Próximo 👉🏻</button>

      </div>
    </div>
  </div>
</div>
